
// Overwrites

// communities
.mx_LeftPanel_tagPanelContainer {
    display: none;
}

// resize room list
.mx_ResizeHandle {
    display: none;
}

// user name menu icon
.mx_TopLeftMenuButton_chevron {
    display: none;
}

// hide chat header icons of advanced features
.mx_RoomHeader_settingsButton,
.mx_RoomHeader_shareButton,
.mx_HeaderButtons::before,
.mx_RightPanel_filesButton,
.mx_RightPanel_notifsButton {
    display: none;
}
.mx_RightPanel_membersButton {
    margin-left: 10px;
}

// hide menu buttons
.mx_LeftPanel_explore,
.mx_RoomSubList_addRoom,
.mx_RoomTile_menuButton {
    display: none !important;
}

// prevent logout
.mx_TopLeftMenu_icon_signout {
    display: none;
}

// Browser fixes
.mx_RoomHeader_avatar {
    -ms-flex: inherit;
    flex: inherit;
}
.mx_RoomTile_avatar {
    -ms-flex: 0;
    flex: inherit;
    padding: 0;
    width: auto;
}
// #matrixchat .mx_RoomHeader .mx_BaseAvatar_image in Firefox
img {
    max-width: none;
}

#matrixchat {
    height: 0;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: flex;
    background: transparent;
    box-sizing: content-box;
    max-width: 90%;

    @media (min-width: 1600px) {
        max-width: 1400px;
    }
}

.mx_MatrixChat {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 2px;
    padding-bottom: 0;
    width: calc(100% - 4px);
}


// Startup
.mx_MatrixChat_splash {
    display: none;
}

.mx_AuthPage {
    min-height: auto;
    margin: auto 2px 0 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

    .mx_AuthPage_modal {
        margin: 20px;
    }
}

// Chat
.mx_LeftPanel_container {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    max-height: 100%;
    min-height: 100%;

    @media (min-height: 660px) {
        min-height: 400px;
    }
}

.mx_GroupView {
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.mx_RoomView {
    min-height: 600px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

    .mx_RoomHeader_wrapper {
        padding-left: 4px;
    }

    .my_CollapseButtons {
        display: flex;

        &::before {
            content: "";
            background-color: #91A1C0;
            opacity: 0.5;
            margin: 0 15px;
            border-radius: 1px;
            width: 1px;
        }

        .mx_RightPanel_collapseButton::before {
            mask-image: url('$(res)/img/feather-customised/grid.svg');
        }
    }

    // toggled chat
    transition: all 200ms;

    &.toggled {
        height: 53px;
        min-height: 53px;
        overflow: hidden !important;
        width: 300px;

        .mx_RoomHeader_topic,
        .mx_RoomHeader_buttons,
        .mx_HeaderButtons,
        .mx_JumpToBottomButton {
            display: none;
        }

        .my_CollapseButtons {
            margin-right: 0;
            margin-left: auto;

            &::before {
                display: none;
            }
        }

        // fill available room to be clickable
        .mx_RoomHeader_name {
            flex-grow: 1;
        }
        // avoid to enter text in toggled input
        .mx_BasicMessageComposer_input {
            display: none;
        }
    }
}


// Menu
.my_HeaderContainer {
    display: flex;
    flex: 0 0 53px;

    .mx_TopLeftMenuButton {
        flex: 1;
        z-index: 2;
    }

    .my_CollapseButtons {
        border-bottom: 1px solid $panel-divider-color;
        color: $topleftmenu-color;
        background-color: $primary-bg-color;
        padding: 14px 8px;

        .mx_RightPanel_collapseButton::before {
            mask-image: url('$(res)/img/feather-customised/grid.svg');
        }
    }
}

.mx_LeftPanel_container {

    // toggled menu
    transition: all 200ms;

    &.toggled {
        height: 53px;
        min-height: 53px;
        overflow: hidden;
        width: 300px;

        .mx_LeftPanel {
            overflow: hidden;
        }
    }
}

.mx_MatrixToolbar {
    right: 0;
    left: 2px;
    position: absolute;
    bottom: 60px;
    height: 53px;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

// mirror tooltips
.mx_Tooltip_chevron {
    left: auto;
    right: -7px;
    border-right: none;
    border-left: 7px solid $menu-border-color;
}

.mx_Tooltip_chevron::after {
    border-right: none;
    border-left: 6px solid $menu-bg-color;
    left: auto;
    right: 1px;
}
